body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85vh;
    grid-gap: 0px 0px;
    justify-content: center;
    align-items: center;
    background-image: url('Screenshot.png');
    background-size: cover;
    background-position: center center;
}

.hero-inner{
    position: relative;
    z-index:2;
}


.hero-inner h1 {
    font-size: 8rem;
    margin-top: 0;
    color: #fff;
    text-align: center;
    letter-spacing: 18px;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
    padding-bottom:15px;
    z-index:1;
    position: relative;
}

.hero-inner p {
    color: #fff;
    text-align: center;
    letter-spacing:5px;
    font-size:20px;
    padding-top:10px;
    font-weight:600;
}

.swing .rikshaw {
    position: absolute;
    top: 20%;
    left: 15%;
}


.swing .rikshaw {
    width: 110px;
    display: block;
    animation: swing 1s infinite alternate-reverse;
    animation-delay: 4s;

}

.swing:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

/* nail */
.swing:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: -14px;
    left: 54%;
    z-index: 5;
}

.abc {
    width: 150px;
    position: absolute;
    left: 35%;
    top: 12%;
    animation: abc ease-in-out 2s infinite alternate;
}

@keyframes abc {
    0% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}



@keyframes swing {
    0% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

.banner-icon-2 {
    animation: fade-left ease-in-out 1s infinite alternate;
}

.umbrella {
    position: absolute;
    right: 37%;
    top: 16%;
    width: 150px;
    z-index: 1;
    animation: spinHorizontal ease-in-out 3s infinite;
}

@keyframes spinHorizontal {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.shade {
    position: absolute;
    left: -19%;
    top: 0;
}

.shade img {
    position: fixed;
    width: 700px;
    animation: example ease-in-out 1s infinite;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


.rock{
    position: absolute;
    right: 10%;
    top: 45%;
    animation: fly ease-in-out 3s infinite alternate;

}

@keyframes fly {
    to {
      transform: translateX(-230px) rotate(-15deg);
    }
  }


/* @keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: 0px;
        top: 500px;
    }

    75%{
        left: 0px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
} */

.mask{
    position: absolute;
    top:5%;
    right:20%;
    animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }


  .yak{
    position: absolute;
    top:32%;
    left:36%;
    z-index:1;
    animation: bounce 3s ease-in-out infinite alternate;


   }

   @keyframes bounce {
    0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}


.roti{
    position: absolute;
    top:45%;
    left:20%;
    animation: roti 3s ease-in-out infinite alternate;
}

@keyframes roti {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(2);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}

.main{
    overflow: hidden;
    padding-top:35px;
    margin-bottom: 30px;
}


.main p{
    text-align: justify;
    margin:0 auto;
    padding:20px;

}

.box{
    height: 300px;
    border-radius: 10px ;
}

#particles-js {
    background: #04021F;
    position: relative;
    border-radius: 10px!important;
    height: 300px;
}

.box h5{
    color:#fff;
    text-align: center;
    font-size: 28px;
    padding: 30px 0px;
    position:absolute;
    top:25px; left:22%;
}

.box p{
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 35px;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.discover{
    background-image: url('Thailand-website.png');
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100vh;
    position: relative;
    z-index: -1;
}

.overlay{
    position: relative;
}

.map{
height:75vh;
z-index: 2;
position: absolute;
left:15%;
top:10%;

}